*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
     background-color: rgb(19, 22, 22);
     
}
.project{
  overflow: hidden;
}
 .image{
    height: 600px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: rgb(217, 194, 194);
    background-image: url(https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
   
    
} 
.header{
    height: 40px;
    width: 1500PX;
    background-color: black;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 90px;
    display: flex;
    overflow: hidden;
    color: white;
    
}
.header a{
    padding-left: 10px;
    font-size: large;
    font-weight: bolder;
}
.a samp{
    font-size: 35px;
    font-weight: bolder;

}
.header  .a{
    font-size: medium;
    padding: 5px;
    color: chartreuse;
}
.box{
    display: flex;
    background-color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding: 0px 200px;
    overflow: hidden;
    
    
}
 .box .b a{
    
    padding-left: 3px;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    

}
.box .c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1 .a{
    padding: 5px;
    color: rgb(47, 0, 255);
}
.c button{
    height: 50px;
    width: 190px;
    border-radius: 20px;
   padding-top: 4px;
    padding-left: 7px;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: blanchedalmond;
    font-size: 25px;
    font-weight: bolder;
}
.c h2{
    font-size: 40px;
}
.image {
    height: 700px;
    width: 1500px;
    object-position: center;
    background-position: center;
    padding: 200px; 
    overflow: hidden;
    
   
}
.image h2{
    font-size: 30px;
    color: red;
}
.image h1{
    font-size: 55px;
    padding-top: 20px;
    color: white;
    font-weight: bolder;
}
.image p{
    padding-top: 10px;
    padding: 5px;
    color: white;
}
samp{
    color: red;
}
 
section{
    min-height: 350px;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
   
}
.image button{
    height: 45px;
    width: 160px;
    margin-left: 10px;
    padding-right: 20px;
    font-size: larger;
    font-weight: bolder; padding: 2px;
    color: white;
    background-color: red;
}
.image i{
    padding-left: 10px;
    align-items: center;
    justify-content: center;

}
.image .b{
    background-color: black;
}
.image button .a:hover{
    background-color: black;
    color: rgb(193, 235, 24);
}
.image button .b:hover{
    background-color:red;
    color: rgb(51, 11, 230);

}
.container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  h3 {
     text-align: center;
    color: #333; 
    font-size: 50px;
    color: #61d40e;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 1.2em;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  



  .container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
  }
  
  
  h4 {
    text-align: center;
   color: #333; 
   font-size: 30px;
  
   color: #0cb500;
   
 }
 h4 i{
    padding: 10px;
    color: #2f0def;
 }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 1.2em;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
  }
  
  button {
    background-color: #1be022;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #401cf4;
    
  }



  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px;
    height: 300px;
    overflow: hidden;
    
    width: 100%;
    background-color:rgb(232, 118, 114);
  }
  .logo .A{
    height: 90px;
    object-fit: cover;
    background-size: cover;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1533106418989-88406c7cc8ca?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D);
    width: 90px;
    margin-left: 30px;
    border-radius: 90px;
    background-color: #1be022;
   
  }
  .logo .B{
    height: 90px;
    object-fit: cover;
    background-size: cover;
    align-items: center;
    width: 90px;
    background-image: url(https://images.unsplash.com/photo-1521790797524-b2497295b8a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2xpZW50fGVufDB8fDB8fHww);
    margin-left: 30px;
    border-radius: 90px;
    background-color: #17c1b6;
  }
  .logo .C{
    height: 90px;
    object-fit: cover;
    background-size: cover;
    align-items: center;
    width: 90px;
    margin-left: 30px;
    border-radius: 90px;
    background-color: #e811b9;
    background-image: url(https://media.istockphoto.com/id/961399110/photo/winning-team-is-holding-trophy-in-hands-silhouettes-of-many-hands-in-sunset.webp?b=1&s=170667a&w=0&k=20&c=mlCn6TNJ1p5flU6q_0OOWtv23RkQuHsf5xcUDbItZoQ=);
  }
  .logo .D{
    height: 90px;
    object-fit: cover;
    background-size: cover;
    align-items: center;
    width: 90px;
    margin-left: 30px;
    border-radius: 90px;
    background-color: #0bb4de;
    background-image: url(https://media.istockphoto.com/id/1296090013/photo/ai-learning-and-artificial-intelligence-concept-business-modern-technology-internet-and.jpg?s=2048x2048&w=is&k=20&c=83TAAtGkD_DYnHCA3lDu_Vq0Yu1xYhOHwACTXIH8R9Y=);
  }
  .l h1{
    margin-left: 50px;
    padding: 5px;
  }
  .l h2{
  margin-right: 40px;
  }
  
 
  

.dill{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 40px;
  height: 400px;
  color: white;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}
.dill h1{
  padding:20px  0px;

}
.but button{
  background-color: red;
  color: black;
  font-size: 20px;
  font-weight: bolder;
}
.ha{
  padding-top: 10px;
}
.ha i{
  background-color: red;
  color: white;
  padding: 3x;
  margin: 5px;
  border-radius: 20px;
  margin-right: 10px;
 
}
